<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/output.css" rel="stylesheet">
    <title>Welcome to HeyMart</title>
    <style>
        body {
            background-color: #1a202c; /* bg-gray-900 */
            color: #ffffff; /* text-white */
        }
    </style>
</head>
<body class="font-sans leading-normal tracking-normal items-center m-5 my-20 p-5">
<div class="text-center">
    <h1 class="text-7xl text-white font-extrabold">Hello!</h1>
    <h1 class="text-5xl text-white font-extrabold pt-8">Welcome to HeyMart 👋</h1>
    <p class="text-2xl text-white pt-12">Please register or login to continue:</p>
    <div class="sm:flex sm:justify-center sm:space-x-5 py-10 px-10 mx-0">
        <a class="py-3 px-7 sm:py-4 sm:px-8 rounded bg-blue-500 text-white font-semibold shadow-md hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue" href="/register">Register</a>
        <a class="py-3 px-7 sm:py-4 sm:px-8 rounded bg-gray-500 text-white font-semibold shadow-md hover:bg-gray-700 focus:outline-none focus:shadow-outline-blue" href="/login">Login</a>
    </div>
</div>
</body>
</html>
