<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./output.css" rel="stylesheet">
    <title>List Products</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        body {
            background-color: #1a202c; /* Setting the background color to a dark shade */
        }
        .scrollable-table {
            max-height: 400px; /* Adjust the height as needed */
            overflow-y: auto;
        }
    </style>
</head>
<body class="text-white font-sans leading-normal tracking-normal flex justify-center items-center h-screen">
<div class="text-center max-w-4xl mx-auto">
    <h1 class="text-6xl mb-6 font-extrabold">Welcome to HeyMart 👋</h1>
    <h2 class="text-3xl mb-4" th:text="'Hello, ' + ${username} + '! Your role is: ' + ${role}"></h2>
    <h1 class="text-2xl mb-6 font-bold">You're a user</h1>

    <div class="mb-6">
        <a href="/shoppingCart" class="block w-full bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded mb-4 transition duration-200">View Shopping Cart</a>
        <a href="/userbalance" class="block w-full bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded mb-4 transition duration-200">View Your Balance</a>
    </div>

    <h2 class="text-3xl mb-6" th:text="'Your balance is: ' + ${balance}"></h2>

    <form action="/logout" method="post" class="mb-6">
        <button type="submit" class="block w-full bg-red-500 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded transition duration-200">Logout</button>
    </form>

    <!-- Table to display products -->
    <div class="scrollable-table">
        <table class="table-auto border-collapse border border-gray-700 mx-auto my-8 w-full">
            <thead>
            <tr>
                <th class="border border-gray-600 px-4 py-2 bg-gray-800">Supermarket</th>
                <th class="border border-gray-600 px-4 py-2 bg-gray-800">Product Name</th>
                <th class="border border-gray-600 px-4 py-2 bg-gray-800">Product Price</th>
                <th class="border border-gray-600 px-4 py-2 bg-gray-800">Product Quantity</th>
                <th class="border border-gray-600 px-4 py-2 bg-gray-800">Action</th>
            </tr>
            </thead>
            <tbody>
            <!-- Iterate over the products list and display each product -->
            <tr th:each="product : ${products}" class="bg-gray-800 hover:bg-gray-700">
                <td class="border border-gray-600 px-4 py-2" th:text="${product.supermarket.getName()}"></td>
                <td class="border border-gray-600 px-4 py-2" th:text="${product.name}"></td>
                <td class="border border-gray-600 px-4 py-2" th:text="${product.price}"></td>
                <td class="border border-gray-600 px-4 py-2" th:text="${product.quantity}"></td>
                <td class="border border-gray-600 px-4 py-2">
                    <form th:action="@{/cart/add}" method="post">
                        <input type="hidden" name="username" th:value="${username}" />
                        <input type="hidden" name="productId" th:value="${product.id}" />
                        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded transition duration-200">Add to Cart</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
