<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/output.css" rel="stylesheet">
    <title>Login</title>
    <style>
        body {
            background-color: #1a202c; /* bg-gray-900 */
            color: #ffffff; /* text-white */
        }
    </style>
</head>
<body class="font-sans text-white leading-normal tracking-normal flex justify-center items-center h-screen">
<div class="text-center">
    <h2 class="text-7xl font-extrabold mb-6">Login</h2>
    <div class="flex justify-center">
        <div class="bg-gray-800 rounded-lg p-6">
            <form action="/login" method="post">
                <div class="mb-4">
                    <label for="username" class="block">Username:</label>
                    <input type="text" id="username" name="username" class="block w-full bg-gray-700 text-white rounded px-3 py-2 focus:outline-none focus:bg-gray-600">
                </div>
                <div class="mb-4">
                    <label for="password" class="block">Password:</label>
                    <input type="password" id="password" name="password" class="block w-full bg-gray-700 text-white rounded px-3 py-2 focus:outline-none focus:bg-gray-600">
                </div>
                <div class="mb-6">
                    <input type="submit" value="Login" class="block w-full bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                </div>
            </form>
            <div th:if="${success}">
                <p style="color: green;">Login successful. Redirecting...</p>
            </div>
            <!-- Error message -->
            <div th:if="${error}">
                <p style="color: red;">Login failed. Please check your username and password.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
