<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./output.css" rel="stylesheet">
    <title>Greeting</title>
</head>
<body class="bg-gray-900 text-white font-sans leading-normal tracking-normal flex justify-center items-center h-screen">
<div class="text-center">
    <h1 class="text-6xl mb-6 font-extrabold">Welcome to HeyMart 👋</h1>
    <h2 class="text-3xl" th:text="'Hello, ' + ${username} + '! Your role is: ' + ${role}">Hello, username! role</h2>
    <h1 class="text-3xl mb-6 font-extrabold">You're the manager</h1>
</div>
</body>
</html>
